
@{
    Layout = "_AdminLayout";
}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            دسته بندی
        </h4>
        <div class="app-ecommerce-category">
            <!-- Category List Table -->
            <div class="card">
                <div class="card-datatable table-responsive">
                    <!-- table -->
                    <table class="table border-top">
                        <thead>
                            <tr>
                                <th>دسته بندی ها</th>
                                <th class="text-nowrap text-sm-end">تعداد خدمات</th>
                                <th class="text-nowrap text-sm-end">اطلاعی ندارم</th>
                                <th class="text-lg-center">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td class="sorting_1">

                                    <div class="d-flex flex-column">
                                        <h6 class="text-body text-nowrap mb-0">کفش</h6>
                                        <small class="text-muted text-truncate d-none d-sm-block">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</small>
                                    </div>

                                </td>
                                <td>
                                    <div class="text-sm-end">4940</div>
                                </td>
                                <td>
                                    <div class="h6 mb-0 text-sm-end">3612ءتء</div>
                                </td>
                                <td class="dtr-hidden">
                                    <div class="d-flex align-items-sm-center justify-content-sm-center">
                                        <button class="btn btn-sm btn-icon delete-record me-2">
                                            <i class="ti ti-trash"></i>
                                        </button>
                                        <button class="btn btn-sm btn-icon">
                                            <i class="ti ti-edit"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- /table -->
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>
